.status-box {
    display: inline-flex;
    align-items: center;

    padding: 10px 18px;
    color: #aaa;
    font-size: 16px;
}

.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}